.featured-tour {

	.hero {

		height: 40rem;
		// background-image: url('../../FPO/arenal-volcano.jpg');

		color: #ffffff;

		h2 {

			margin-bottom: 0.5em;

			font-size: 3.6rem;
			font-weight: 700;
			text-transform: uppercase;

		}

		p {

			font-weight: 300;

		}

		h2, p {
			text-shadow: 0.1em 0.1em 0.15em rgba(0, 0, 0, 0.5);
		}

		.has-call-to-action {
			margin-top: 3em;
		}

		.call-to-action:hover {
			text-shadow: none;
		}

	}

}