.main-slider {

	.slider {

		height: 68rem;
		min-height: 40vh;
		max-height: calc(100vh - 10rem);

		.slider--slide-selector {
			background: #ffffff;
			border: 1px solid #ffffff;
		}

		.slider--slide-selector:hover,
		.slider--slide-control:checked + .slider--slide-selector {
			background: #fdaa59;
			border-color: #fdaa59;
		}

	}

	.slider--content {

		color: #ffffff;
		text-align: center;

		h1 {

			display: block;
			margin-bottom: 0.35em;

			font-size: 3.6rem;
			letter-spacing: -1px;
			font-weight: 300;
			text-transform: uppercase;

			@media #{$mobile} {
				font-size: 3rem;
				margin-bottom: 0.6em;
			}

			&.on-tour {
				font-size: 4rem;
				font-weight: 700;
				letter-spacing: 0;

				@media #{$mobile} {
					font-size: 2.8rem;
				}
			}

			strong {

				display: block;

				font-size: 6rem;
				letter-spacing: 0;
				font-weight: 700;

				@media #{$mobile} {
					font-size: 3.5rem;
				}

			}

		}

		p {

			display: block;

			font-size: 2.6rem;
			font-weight: 300;

			&.on-tour {
				font-size: 3.6rem;
				text-transform: uppercase;
			}

			@media #{$mobile} {
				font-size: 1.8rem;
				font-weight: 400;

				&.on-tour {
					font-weight: 300;
					font-size: 2.6rem;
				}
			}

		}

		h1, p {

			text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.65);

		}

	}

}