.state--mobile-menu-open {
	overflow-y: hidden;
	position: fixed;
}

.nav--hamburger {

	@media #{$non-mobile} {
		display: none;
	}

	position: absolute;
	position: fixed;
	top: 1em;
	left: 1em;
	z-index: 99999;

	display: block;
	width: 2.5em;
	height: 2.5em;

	opacity: 1;

	background-color: rgba(0, 0, 0, 0.5);
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 30 30" enable-background="new 0 0 30 30" xml:space="preserve"><rect fill="white" width="30" height="6"/><rect fill="white" y="24" width="30" height="6"/><rect fill="white" y="12" width="30" height="6"/></svg>');
	background-size: contain;
	outline: 0.35rem solid rgba(0,0,0,0.5);

	transition: left 0.4s, opacity 0.4s;

	.state--mobile-menu-open & {

		left: 70%;
		opacity: 0.75;

	}

}

.nav {

	&.nav--mobile {

		@media #{$non-mobile} {
			display: none;
		}

		visibility: hidden;

		position: absolute;
		position: fixed;
		top: 0;
		left: -100%;
		left: -100vw;
		bottom: 0;
		z-index: 99998;

		display: block;
		width: 65%;
		height: 100%;
		height: 100vh;

		overflow: hidden;

		background: #ffffff;
		box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);

		transition: left 0.4s, visibility 0.4s;

		.state--mobile-menu-open & {

			visibility: visible;
			left: 0;
			overflow-y: auto;

		}

		> ul {

			font-size: 1.3em;

			list-style: none;
			margin-top: 2em;

			> li {

				display: block;
				margin: 1em 0.35em;

				a {

					display: block;
					position: relative;

					color: #000000;

					font-weight: 300;
					text-transform: uppercase;
					text-decoration: none;
					padding-left: 0.85em;
					padding-bottom: 1em;

					border-bottom: 1px solid #ef3c39;

					&:before {

						position: absolute;
						top: -0.3em;
						left: 0;

						content: '\203a';
						color: #ef3c39;

						font-size: 1.8em;

					}

				}

				&:last-child a {
					border-bottom: none;
				}

			}

		}

		.logo {

			height: 3em;
			margin: 0.35em 0.35em 1em;

			background: url('../../img/logo--tt.png') no-repeat left center transparent;
			background-size: contain;

		}

	}

	&.nav--top {

		@media #{$mobile} {
			display: none;
		}

		ul.nav--root {

			text-align: center;
			padding: 2rem 0;

			> li {

				display: inline-block;

				> a {

					display: inline-block;

					padding: 0.65em 0.8em;

					color: #000000;

					font-size: 0.9em;
					font-weight: bold;
					text-transform: uppercase;
					text-decoration: none;

					transition: color 0.3s, background 0.3s;


				}

				&.active > a, > a:hover {
					color: #ffffff;
					background: #000000;
				}

				&.nav--logo {

					width: 11em;
					height: 1em;
					position: relative;

					i {

						position: absolute;
						bottom: -1.2rem;
						display: block;
						height: 2.3em;
						height: calc(1em + 3.2rem);
						width: 11em;

						background: url('../../img/logo--tt.png') no-repeat center center transparent;
						background-size: contain;

					}

				}

				&.nav--facebook,
				&.nav--twitter {

					a {

						position: relative;
						top: 0.35em;
						padding: 0.4em;

						&:hover {
							background: none;
						}

					}

					i {

						display: inline-block;
						width: 1.4em;
						height: 1.4em;

						background: none no-repeat center center transparent;
						background-size: contain;

					}

				}

				&.nav--facebook i {
					background-image: url('../../img/icon-color--facebook.png');
				}

				&.nav--twitter i {
					background-image: url('../../img/icon-color--twitter.png');
				}

			}

		}

	}

}