.newest-tours {

	.newest-tours--tripadvisor {

		background: #599642;

		> span {

			box-sizing: border-box;
			padding: 1.35em;

			transition: padding 0.3s;

			> span {

				display: block;
				width: 100%;
				height: 100%;
				background: url('../../FPO/tripadvisor-cert.png') no-repeat center center transparent;
				background-size: contain;

			}

		}

		&:hover > span {
			padding: 0.65em;
		}

	}

	.newest-tours--a {

		// background-image: url('../../FPO/grid-a.jpg');

		> span {
			background-color: rgba(171, 49, 64, 0.8);
			transition: background 0.3s;
		}

		&:hover {
			> span {
				background-color: rgba(171, 49, 64, 0.5);
			}
		}

	}

	.newest-tours--b {

		// background-image: url('../../FPO/grid-c.jpg');

		> span {
			background-color: rgba(225, 174, 65, 0.8);
			transition: background 0.3s;
		}

		&:hover {
			> span {
				background-color: rgba(225, 174, 65, 0.5);
			}
		}

	}

	.newest-tours--c {

		// background-image: url('../../FPO/grid-b.jpg');

		> span {
			background-color: rgba(52, 153, 123, 0.8);
			transition: background 0.3s;
		}

		&:hover {
			> span {
				background-color: rgba(52, 153, 123, 0.5);
			}
		}

	}

}