.page-tours {

	.blocks {

		margin-top: 3rem;

	}

}

@media #{$tablet} {
	.section-tours {

		.blocks > [eg-grid="row"] {
			text-align: center;
		}

		.label > p {
			text-align: center;
		}

	}
}

.page-tours,
.section-tours {

	.label {
		margin-top: 1em;
	}

	.blocks--element {

		margin-top: 1em;
		margin-bottom: 1em;

		> span > span {
			font-size: 0.85em;
		}

	}

	.blocks > [eg-grid="row"] {

		a > span {
			font-size: 1.35em;
		}

		$colors: (
			#ab3140,
			#e1ae41,
			#34997b,
			#01b7e7
		);

		$total: length($colors);

		@for $i from 1 through $total {

			$color: nth($colors, $i);

			a:nth-child(#{$total}n+#{$i}),
			a:nth-of-type(#{$total}n+#{$i}) {

				> span {
					background-color: rgba($color, 0.8);
					transition: background 0.3s;
				}

				&:hover {
					> span {
						background-color: rgba($color, 0.5);
					}
				}

			}

		}

	}

}