.gallery {

	.gallery--element {

		background-size: cover;

		> span {

			@extend %edgebal-valign-parent;

			box-sizing: border-box;
			display: block;
			width: 100%;
			height: 100%;
			padding: 1.35em;

			color: #ffffff;
			background: rgba(0, 0, 0, 0.15);
			text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
			font-size: 1.2em;

			transition: background 0.3s;

			> span {
				@extend %edgebal-valign;
			}

			&:hover {
				background: rgba(0, 0, 0, 0.05);
			}

		}

	}

}