.page-single {

	.hero {
		height: 36rem;

		@media #{$mobile} {
			height: 2.4rem;
		}
	}

	.hero--content h2 {

		color: #ffffff;
		font-size: 3.6rem;
		letter-spacing: -1px;
		font-weight: 300;
		text-transform: uppercase;
		text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.65);

		strong {
			font-size: 6rem;
			letter-spacing: 0;
			font-weight: 700;
		}

		@media #{$mobile} {

			font-size: 2.8rem;

			strong {
				font-size: 3.2rem;
			}

		}

	}

	.hero--content p {

		margin-top: 0.35em;

		color: #ffffff;

		font-size: 2.6rem;
		font-weight: 300;
		text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.65);

		@media #{$mobile} {
			font-size: 1.8rem;
			font-weight: 400;
		}

	}

	.title-and-meta {
		margin-bottom: 5rem;
	}

	.meta-wrapper {

		border-bottom: 1px solid #ef3c39;
		padding-bottom: 0.5em;

	}

	.meta {

		margin-bottom: 0.2em;

		@media #{$non-desktop} {
			margin-bottom: 0.35em;
		}

		.label {

			font-weight: bold;
			display: inline-block;
			width: 10em;

			@media #{$non-desktop} {
				display: inline;
				width: auto;
			}

		}

	}

	.related-tours {

		p {
			margin-bottom: 0.5em;
			font-size: 0.9em;
			font-weight: bold;
		}

	}

	.video-slider {
		margin-top: 3.6em;
	}

}
