.video-slider {
    .slider {
        
        .slider--slide {
            margin-bottom: 4rem;
            
            iframe {
                box-sizing: border-box;
                max-width: 56rem;
                padding: 0.5em;
                background: #f0f0f0;
            }
        }
        
        .slider--slide-selector {
            bottom: 1rem;
        }
        
    }
    
    .sub-title {
        margin-bottom: 2.4em;
        font-weight: 300;
    }
    
    .link--follow-us {
        color: inherit;
        text-transform: none;
        font-size: 0.6em;
        text-decoration: none;
        display: inline-block;
        position: relative;
        bottom: 0.2em;
        padding: 0.6em 0 0.6em 2.4em;
        background: url("../../img/logo--yt.png") no-repeat center left transparent;
        background-size: contain;
        margin-left: 1em;
        
        &:hover {
            text-decoration: underline;
        }
    }
}
