.testimonials {

	.slider {

		padding-top: 2.5rem;
		padding-bottom: 2.5rem;

	}

	.slider--slide-selector {

		bottom: 0;

	}

	p.quote {

		font-size: 3rem;
		font-weight: 300;
		font-style: italic;
		max-width: 95%;
		margin: 0 auto 1.2em;

	}

	p.quote-meta {

		font-size: 0.9em;

		strong {
			font-weight: 700;
		}

		em {
			font-style: italic;
		}

	}

}
