.tour-types-grid {

	.tour-types {

		position: relative;

		height: 21rem;
		color: #ffffff;

		font-weight: 700;
		text-align: center;
		text-decoration: none;

		transition: background 0.3s;

		> span {

			@extend %edgebal-valign-parent;

			display: block;
			height: 21 - 4rem;
			height: calc(100% - 4rem); // 4 rem = 3.5 (bottom) + 0.5 (line height)

			> span {

				@extend %edgebal-valign;

			}

		}

		> u {

			display: block;
			position: absolute;
			height: 0.5rem;

			bottom: 3.5rem;
			left: 0.5rem;
			right: 0.5rem;

			background: #ffffff;

		}

		&.tour-types--copy {

			background: #00b9e7;
			line-height: 1.35em;
			text-align: left;

			> span > span {
				display: block;
				padding: 0 3.5rem
			}

			> u {
				left: 4.5rem;
				right: 10rem;
			}

		}

		&.tour-types--link {

			font-size: 2rem;
			font-weight: 700;
			text-transform: uppercase;

			> span {

				display: block;
				box-sizing: border-box;

				> span {
					display: block;
				}

				> span > i {

					display: block;
					min-width: 10rem;
					height: 5rem;
					margin-bottom: 0.5em;

					background: none no-repeat center center transparent;
					background-size: contain;

				}

			}

		}

		&.tour-types--city-tour {

			background: #2a3a3e;

			&:hover {
				background: darken(#2a3a3e, 5%);
			}

			> span > span > i {
				background-image: url('../../img/icon--city-tour.png');
			}

		}

		&.tour-types--island-tour {

			background: #ef684a;

			&:hover {
				background: darken(#ef684a, 5%);
			}

			> span > span > i {
				background-image: url('../../img/icon--island-tour.png');
			}

		}

		&.tour-types--skywalk-tour {

			background: #009cc5;

			&:hover {
				background: darken(#009cc5, 5%);
			}

			> span > span > i {
				background-image: url('../../img/icon--skywalk-tour.png');
			}

		}

		&.tour-types--rain-forest-tour {

			background: #3eb74d;

			&:hover {
				background: darken(#3eb74d, 5%);
			}

			> span > span > i {
				background-image: url('../../img/icon--rain-forest-tour.png');
			}

		}

	}

}