$desktop: 'only screen and (min-width: 1025px)';
$tablet: 'only screen and (min-width: 641px) and (max-width: 1024px)';
$mobile: 'only screen and (max-width: 640px)';
$non-desktop: 'only screen and (max-width: 1024px)';
$non-mobile: 'only screen and (min-width: 641px)';

@import 'misc/reset';

$grid-settings: (
	'prefix': 'eg',
	'selector-type': 'attribute'
);

$main-grid: (
	'columns': 12,
	'gutter': 1rem,
	'max-width': 1200px,
	'default-font-size': 1.6rem
);

$tablet-grid: (
	'max-width': 1024px,
	'wrapper-margin': true
);

$mobile-grid: (
	'max-width': 640px,
	'wrapper-margin': true
);

@import 'modules/edgebal-grid';
@include edgebal-init($grid-settings);
@include edgebal-setup($main-grid);
@include edgebal-setup-alternate('tablet', $tablet, $tablet-grid);
@include edgebal-setup-alternate('mobile', $mobile, $mobile-grid);

@import 'directives/base';
@import 'directives/content';
@import 'directives/copy';
@import 'directives/blocks';
@import 'directives/hero';
@import 'directives/slider';
@import 'directives/site-footer';
@import 'directives/overlay';
@import 'directives/form';

@import 'elements/nav';
@import 'elements/main-slider';
@import 'elements/about-us-and-newest-tours';
@import 'elements/newest-tours';
@import 'elements/featured-tour';
@import 'elements/testimonials';
@import 'elements/tour-types';
@import 'elements/find-us';

@import 'elements/page-tours';
@import 'elements/page-single-tour';
@import 'elements/page-gallery';
@import 'elements/page-gallery-videos';

/* WP fix for Mob */

@media #{$non-desktop} {

	html.TiquiciaTours {
		margin-top: 0 !important;
	}

	#wpadminbar {
		display: none;
	}

}

/* EOF */
