html {

	font-size: 62.5%;

}

body {

	font-family: 'Lato', sans-serif;
	font-size: 1.6rem;

}

// Call to Actions

.call-to-action {

	padding: 0.5em 1em;

	color: #000000;
	border: 2px solid #000000;
	border-radius: 0.4rem;

	font-size: 1.4rem;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;

	transition: background 0.3s, color 0.3s, border 0.3s;

	&:hover {
		background: #000000;
		color: #ffffff;
	}

	&.call-to-action--wide {
		padding: 0.5em 3em;
	}

	&.call-to-action--light {

		color: #999999;
		background: none;
		border-color: #999999;

		&:hover {
			color: #000000;
			background: none;
			border-color: #000000;
		}

	}

	&.call-to-action--inverted {

		color: #ffffff;
		background: none;
		border-color: #ffffff;

		&:hover {
			color: #000000;
			background: none;
			background: #ffffff;
		}

	}

	&.call-to-action--important {

		color: #ef3c39;
		background: none;
		border-color: #ef3c39;

		&:hover {
			color: #ffffff;
			background: #ef3c39;
		}

	}

	@media #{$mobile} {

		display: block;

		width: 100%;
		padding: 1em 0;

		font-size: 1.2em;
		text-align: center;

		&.call-to-action--wide {
			padding: 1em 0;
		}

	}

}