.blocks {

	.blocks--element {

		color: #ffffff;
		background: none no-repeat center center #333333;
		background-size: cover;

		font-weight: 700;

		> span {

			@extend %edgebal-valign-parent;

			> span {

				@extend %edgebal-valign;

				display: block;
				padding: 0 0.5em;
				text-align: center;

				box-sizing: border-box;

			}

		}

	}

}