.copy {

	h2 {

		margin-bottom: 0.65em;

		font-size: 2.6rem;
		font-weight: 300;
		text-transform: uppercase;

		u {

			display: inline-block;
			padding: 0 0.25em 0.15em;

			border-bottom: 1px solid #f7bfbf;
			text-decoration: none;

		}

	}

	h3 {

		margin-bottom: 0.65em;
		font-weight: 400;

		&.sub-title {

			margin-top: -(2.6rem * 0.65); // based on above `h2`

			u {

				display: inline-block;
				padding: 0.5em 0.25em 0 0.25em;

				border-top: 1px solid #f7bfbf;
				text-decoration: none;

			}

		}

	}

	p {

		margin-bottom: 1.2em;
		line-height: 1.2em;

		&.separated {
			margin-top: 2.4em;
		}

		&:empty {
			display: none;
		}

		&.big {
			font-size: 1.4em;
		}

	}


	&.copy--centered {
		text-align: center;
	}

	&.copy--light {

		p {
			font-weight: 300;
		}

	}

}