.form {

	@media #{$mobile} {
		margin-bottom: 2.4rem;
	}

	.form--note {
		font-weight: 700;
		font-size: 0.85em;
	}

	.form--submit {

		margin: 1.4em 0;
		text-align: center;

	}

	.form--extra {

		margin: 2em 0;
		text-align: center;

		a {

			font-weight: bold;
			color: inherit;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}

		}

	}

	.form--field {

		> * {
			margin-top: 0.35em;
			margin-bottom: 0.35em;
		}

		@media #{$mobile} {

			.form--input-wrapper {
				margin-bottom: 0.5em;
			}

		}

	}

	.form--label-wrapper {

		text-align: right;
		font-weight: bold;

		> label {
			display: inline-block;
			width: 65%;
			font-size: 0.9em;
		}

		@media #{$mobile} {

			text-align: left;
			padding-left: 1em;

			> label {
				width: 85%;
			}

		}

	}

	.form--input-wrapper {

		box-sizing: border-box;
		display: inline-block;

		width: 50%;

		padding: 3px;
		border: 1px solid #eaeaea;

		border-radius: 6px;
		box-shadow: 1px 1px 2px rgba(#eaeaea, 0.75);

		&.form--input-small {
			width: 5em;
		}

		@media #{$mobile} {

			width: 100%;

			&.form--input-small {
				width: 65%;
			}

		}

		> input[type="text"],
		> input[type="password"],
		> input[type="email"],
		> input[type="number"],
		textarea {

			appearance: none;
			resize: none;
			box-sizing: border-box;
			display: inline-block;

			width: 100%;

			margin: 0;
			padding: 0.35em 0.5em;

			background: #ffffff;
			border: 1px solid #e0e0e0;
			border-radius: 3px;
			box-shadow: inset 1px 1px 2px rgba(#e0e0e0, 0.75);

			font-size: 1em;

			&:focus {

				outline: none;

				border-color: #a0a0a0;
				box-shadow: inset 1px 1px 2px rgba(#a0a0a0, 0.75);

			}

		}

		textarea {
			height: 5em;
		}

	}

	.form--error-wrapper {
		.form--input-wrapper {

			border-color: #f9d4d4;
			box-shadow: 1px 1px 2px rgba(#f9d4d4, 0.75);

			> .form--error {

				border-color: #fcd9d9;
				box-shadow: inset 1px 1px 2px rgba(#fcd9d9, 0.75);
				background: #fff6f6;

			}

		}
	}

}