.hero {

	min-height: 0;
	min-height: 50vh;

	max-height: none;
	max-height: 90vh;

	background: none no-repeat center center;
	background-size: cover;

	@extend %edgebal-valign-parent;

	.hero--content {

		@extend %edgebal-valign;

	}

	.hero--content-centered {
		text-align: center;
	}

}