.edgebal--has-overlay-active {
	overflow: hidden;
}

.edgebal--overlay {

	display: none;
	width: 100%;
	height: 100%;

	position: absolute;
	position: fixed;
	left: 0;
	top: 0;

	background: none no-repeat center center rgba(0, 0, 0, 0.95);
	background-size: contain;

}

.edgebal--overlay-active {

	display: block;

}

.edgebal--overlay-cta-wrapper {

	position: absolute;
	bottom: 2em;
	width: 100%;
	text-align: center;

}