.slider {

	position: relative;
	top: 0;
	background: none no-repeat center;
	background-size: cover;
	overflow: hidden;
	padding: 0;

	.slider--slide {
		height: 100%;
	}

	.slider--slides-container {

		position: relative;
		top: 0;
		left: 0;
		z-index: 1;
		width: 0;
		height: 100%;
		overflow-y: hidden;
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;

	}

	.slider--slide {

		float: left;
		position: relative;
		width: 0;
		height: 100%;
		background-size: cover;
		background-position: center;

	}

	.slider--slide-selector {

		position: absolute;
		left: 50%;
		bottom: 2.5rem;
		z-index: 999;

		padding: 0.8rem;
		margin-left: 0;

		border-radius: 2.4rem;

		background: #ffffff;
		border: 1px solid #000000;
		box-shadow: 0 0 0.15em rgba(0, 0, 0, 0.5);

		cursor: pointer;

	}

	.slider--slide-selector:hover,
	.slider--slide-control:checked + .slider--slide-selector {

		background: #000000;

	}

	.slider--slide-control {
		display: none;
	}

	.slider--overlay {

		@extend %edgebal-valign-parent;

		position: absolute;
		top: 2.5rem;
		left: 2.5rem;
		right: 2.5rem;

		height: 90%;
		height: calc(100% - 5rem);

		z-index: 500;

		.slider--content {
			@extend %edgebal-valign;
		}

	}

}