/**
 * edgebal's grid
 */

$edgebal--settings: (
	prefix: '--default',
	selector-type: 'class',
	selector-attribute: 'grid'
);

@mixin edgebal--set($map: ()) {

	$edgebal--settings: map-merge($edgebal--settings, $map) !global;

}

@function edgebal--get($key) {
	@return map-get($edgebal--settings, $key);
}

@function edgebal--str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + edgebal--str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

@function edgebal--selector($keyword, $suffix: null) {

	$type: edgebal--get('selector-type');
	$prefix: edgebal--get('prefix');

	$output: '';

	@if $type == 'class' {

		$output: '.';

		@if $prefix and $prefix != '--default' {
			$output: $output + $prefix + '-';
		}

		$output: $output + $keyword;

		@if $suffix {
			$output: $output + $suffix;
		}

		$output: edgebal--str-replace($output, '@', '-at-');

	}
	@else if $type == 'attribute' {

		$attribute: edgebal--get('selector-attribute');

		$output: '[';

		@if $prefix and $prefix != '--default' {
			$output: $output + $prefix + '-';
		}

		$output: $output + $attribute + '~="' + $keyword;

		@if $suffix {
			$output: $output + $suffix;
		}

		$output: $output + '"]';

	}
	@else {
		@error "Unknown selector type";
	}

	@return $output;

}

@mixin edgebal--flush-grid($opts: (), $main-grid: false, $grid-suffix: null) {

	$id: map-get($opts, '_id');
	$id: '--default' !default;

	$gutter: map-get($opts, 'gutter');
	$gutter: 10px !default;

	$columns: map-get($opts, 'columns');
	$columns: 12 !default;

	$default-font-size: map-get($opts, 'default-font-size');
	$default-font-size: 1rem !default;

	$wrapper-margin: map-get($opts, 'wrapper-margin');

	$stacked: map-get($opts, 'stacked');

	@if $main-grid {

		#{edgebal--selector('container')} {
			margin: 0 auto;
			@if map-has-key($opts, 'max-width') {
				max-width: map-get($opts, 'max-width');
			}
		}

		#{edgebal--selector('loose-container')} {
			width: auto;
			max-width: 100%;

			#{edgebal--selector('row')} {
				margin-left: 0;
				margin-right: 0;
			}

		}

		#{edgebal--selector('row')} {

			padding-left: 0 !important;
			padding-right: 0 !important;
			margin-left: 0 - $gutter;
			margin-right: 0 - $gutter;

			font-size: 0;

			#{edgebal--selector('row')} {
				margin-left: 0;
				margin-right: 0;
			}

			&:before, &:after {
				content: '';
				display: table;
			}

		}

	}

	#{edgebal--selector('row')} {

		&#{edgebal--selector('align-top', $grid-suffix)} {

			font-size: 0;
			clear: both;
			vertical-align: top;

			> * {
				float: none !important;
				vertical-align: top;
				font-size: $default-font-size;
			}

		}

		&#{edgebal--selector('align-middle', $grid-suffix)} {

			font-size: 0;
			clear: both;
			vertical-align: middle;

			> * {
				float: none !important;
				vertical-align: middle;
				font-size: $default-font-size;
			}

		}

		&#{edgebal--selector('align-bottom', $grid-suffix)} {

			font-size: 0;
			clear: both;
			vertical-align: bottom;

			> * {
				float: none !important;
				vertical-align: bottom;
				font-size: $default-font-size;
			}

		}

		&#{edgebal--selector('align-left', $grid-suffix)},
		> #{edgebal--selector('align-left', $grid-suffix)} {
			text-align: left;
		}

		&#{edgebal--selector('align-center', $grid-suffix)},
		> #{edgebal--selector('align-center', $grid-suffix)} {
			text-align: center;
		}

		&#{edgebal--selector('align-right', $grid-suffix)},
		> #{edgebal--selector('align-right', $grid-suffix)} {
			text-align: right;
		}

		> #{edgebal--selector('show', $grid-suffix)} {
			display: inline-block;
		}

		> #{edgebal--selector('hide', $grid-suffix)} {
			display: none;
		}

		> #{edgebal--selector('visible', $grid-suffix)} {
			visibility: visible;
		}

		> #{edgebal--selector('invisible', $grid-suffix)} {
			visibility: hidden;
		}

	}

	@if $wrapper-margin {

		#{edgebal--selector('row')} {
			margin-left: 0;
			margin-right: 0;
		}

	}

	%#{$id + edgebal--get('prefix')}-grid-cell {

		display: inline-block;
		padding-right: $gutter;
		padding-left: $gutter;

		font-size: $default-font-size;

		min-height: 1px;
		vertical-align: top;
		box-sizing: border-box;

	}

	%#{$id + edgebal--get('prefix')}-grid-cell-pull {
		position: relative;
	}

	%#{$id + edgebal--get('prefix')}-grid-cell-push {
		position: relative;
	}


	%#{$id + edgebal--get('prefix')}-grid-cell-stacked {
		left: 0%;
		right: 0%;
		margin-left: 0%;
		margin-right: 0%;
	}

	@for $column from 0 through $columns {

		#{edgebal--selector('col-' + $column, $grid-suffix)} {

			@if $main-grid {
				@extend %#{$id + edgebal--get('prefix')}-grid-cell;
			}

			width: ($column / $columns) * 100%;

			@if $stacked {
				@extend %#{$id + edgebal--get('prefix')}-grid-cell-stacked;
			}

			&#{edgebal--selector('square', $grid-suffix)} {

				position: relative;
				padding-top: ($column / $columns) * 100%;

				> *:first-child {

					position: absolute !important;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;

				}

			}

		}

		@if not($stacked) {

			#{edgebal--selector('pull-' + $column, $grid-suffix)} {

				@extend %#{$id + edgebal--get('prefix')}-grid-cell-pull;
				right: ($column / $columns) * 100%;

			}

			#{edgebal--selector('push-' + $column, $grid-suffix)} {

				@extend %#{$id + edgebal--get('prefix')}-grid-cell-push;
				left: ($column / $columns) * 100%;

			}

			#{edgebal--selector('wrap-' + $column, $grid-suffix)} {

				@extend %#{$id + edgebal--get('prefix')}-grid-cell-push;
				left: ($column / $columns) * 100%;
				margin-right: ($column / $columns) * 100%;

			}

		}

	}

}

@mixin edgebal-init($settings: ()) {

	@include edgebal--set($settings);

	#{edgebal--selector('row')} {
		zoom: 1;
	}

}

@mixin edgebal-setup($opts: ()) {

	@include edgebal--flush-grid($opts, true);

}

@mixin edgebal-setup-alternate($id, $query, $opts: ()) {

	$defOpts: (
		'_id': $id
	);

	$opts: map-merge($opts, $defOpts);

	@media #{$query} {

		@include edgebal--flush-grid($opts, false, '@' + $id);

	}

}

/* Vertical align */

%edgebal-valign-parent {
	transform-style: preserve-3d;
}

%edgebal-valign {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}